.navbar {
  padding: 1rem;
}

.outer{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
}
.outer p{
  display: block;
  margin: 0rem 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.75rem;
}

.mid {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.end {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* Link styles */
.link {
  margin: 0rem 1rem;
  font-size: 1.5rem;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Hamburger button styles */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.dark{
  color: #ffffff;
}

.hamburger:focus {
  outline: none;
}


/* For Responsiveness */
@media screen and (max-width: 768px) {
  .mid {
    position: fixed;
    top: 0;
    right: -100%; /* Hidden off-screen initially */
    height: 100%;
    width: 200px;
    background-color: #333; /* Dark sidebar background */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    transition: right 0.3s ease; /* Slide animation */
  }

  .mid.open {
    right: 0; /* Slide in from the right */
  }

  .link {
    color: #fff; /* White links for dark background */
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-align: right;
  }

  .hamburger {
    display: block; /* Show hamburger button on smaller screens */
    z-index: 2;
  }

}
