.horizontalFlex{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 3rem;

}

.verticalFlex{
    flex:1;
    padding: 2rem;
}

.left{
    
    background-color: #111827;

   
}
.right{
    
    background-color: #1f2937;
 

}

img{
    width: 120px;
    border-radius: 60px;
    margin: 1rem;
    margin-top: 2rem;
}

h1 ,h6, p{
    color: white;
}
