/* ThemeToggle.css */
body.light {
    background-color: #f0f0f0;
    color: #333;
  }
  
  body.dark {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }
  
  /* Container for the toggle button */
  .theme-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  /* Toggle button styles */
  .theme-toggle-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    /* padding: 10px; */
    font-size: 30px;
    transition: transform 0.5s ease-in-out;
    outline: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  /* Rotate animation when toggling theme */
  .theme-toggle-btn.light .icon {
    animation: rotate-to-moon 0.5s forwards;
  }
  
  .theme-toggle-btn.dark .icon {
    animation: rotate-to-sun 0.5s forwards;
  }
  
  /* Rotate to moon */
  @keyframes rotate-to-moon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  /* Rotate to sun */
  @keyframes rotate-to-sun {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  /* Icon styles */
  .icon {
    color: #ffd700; /* Default color for the sun */
    transition: color 0.3s ease-in-out;
  }
  
  .moon-icon {
    color: #8b8b8b; /* Moon icon color */
  }
  
  .sun-icon {
    color: #ffd700; /* Sun icon color */
  }
  